body,head{
    margin: 0;
    padding: 0;
}
.page{
    height: 150vh;

}
.couleurGrise{
    background: #2B3035;
}
.espacement-container{
    padding-right: 30vh;
    padding-left: 30vh;
}
.tailleTextNav{
    font-size: 0.8em;
}
.logoBootstrap{
    height: 3vh;
    width: 3vh;
}
.logoBnav{
    height: 4.5vh;
    width: 5vh;
}